@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;


.app .btn-main,
.app .btn-delete,
.app .btn-del-small,
.app .admin-add-btn {
  font-family: inherit;
  border: 0;
  cursor: pointer;
  transition: transform 160ms ease, box-shadow 160ms ease, background 160ms ease, border 160ms ease, color 160ms ease;
}

.app .btn-main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 12px;
  background: rgba(208, 149, 11, 0.95);
  color: $text-200;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 0.2px;
  box-shadow: $shadow-2;
  transition: 0.3s;
}

.app .btn-main:hover {
  transform: translateY(-1px);
  box-shadow: $shadow-1;
  background: #be8a06;
}

.app .btn-main:active {
  transform: translateY(0);
}

.app .btn-main:focus-visible {
  @include focus-ring;
}

.app .btn-outline {
  background: transparent;
  color: $text-100;
  border: 1px solid rgba(201, 132, 4, 0.86);
  box-shadow: none;
}

.app .btn-outline:hover {
  background: rgba(189, 124, 3, 0.26);
}

.app .btn-delete {
  padding: 12px 16px;
  border-radius: 12px;
  background: rgba(141, 24, 1, 0.95);
  color: $text-100;
  font-weight: 800;
  font-size: 15px;
  box-shadow: $shadow-2;
  transition: 3sec;
}

.app .btn-delete:hover {
  transform: translateY(-1px);
  box-shadow: $shadow-1;
  background: rgba(124, 27, 6, 0.95);
}

.app .btn-del-small {
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(132, 36, 0, 0.22);
  border: 1px solid rgba(132, 36, 0, 0.55);
  color: $text-100;
  font-weight: 700;
  font-size: 17px;
}

.app .btn-del-small:hover {
  background: rgba(122, 18, 0, 0.32);
  transform: translateY(-1px);
}

.app .page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 60px;
}

.app .admin-add-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-decoration: none;

  background: rgba(222, 160, 35, 0.45);
  border: 1px solid rgba(208, 149, 11, 0.95);
  color: $text-100;

  font-size: 26px;
  font-weight: 800;
  line-height: 1;

  transition: transform 180ms ease, background 180ms ease, border-color 180ms ease;
}

.app .admin-add-btn:hover {
  transform: translateY(-1px);
  background: rgba(197, 152, 4, 0.86);
  border: 1px solid rgb(183, 130, 7);
}


@media (max-width: 560px) {
  .app .btn-main,
  .app .btn-delete {
    font-size: 14px;
    padding: 11px 14px;
  }
}