@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.app #main-content {
  @include container(1160px);
  padding: 22px 0 42px;
}

.app .content-container,
.app .catalog-page,
.app .outlets-page,
.app .employees-page,
.app .clients-page {
  @include container(1160px);
  padding: 18px 0 42px;
}

.app .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  margin-bottom: 18px;
}

.app .page-title {
  @include container(1160px);
  padding: 18px 0 12px;
}

.app .page-title h1 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 0.2px;
}
