@use "abstracts/colors" as *;
@use "abstracts/mixins" as *;

@use "base/reset";
@use "base/typography";
@use "base/layout";

@use "components/header";
@use "components/button";
@use "components/cards";
@use "components/forms";
@use "components/favorites";

@use "pages/auth";
@use "pages/profile";
@use "pages/spices";
@use "pages/outlets";
@use "pages/employees";
