{% extends 'base.html' %}

{% block content %}
    <main class="employees-page">
        <header class="page-header">
            <h1 class="visually-hidden">Список працівників</h1>
            {% if user.is_staff %}
                <a href="{% url 'employee_create' %}" class="admin-add-btn" aria-label="Додати працівника">+</a>
            {% endif %}

        </header>

        <section class="long-list">
            {% for row in rows %}
                <article class="long-card employee-card"
                         onclick="location.href='{% url 'employee_update' row.id %}'"
                         role="button"
                         tabindex="0">
                    <section class="card-details">
                        <header class="employee-name">
                            <h2 class="employee-fullname">{{ row.values.1 }} {{ row.values.2 }} {{ row.values.3 }}</h2>
                        </header>

                        <div class="employee-info">
                            <p class="kv-line">
                                <span class="kv-label">Посада:</span>
                                <span class="kv-value">{{ row.values.4 }}</span>
                                <span class="kv-muted">(Зміна: {{ row.values.5 }})</span>
                            </p>

                            <p class="kv-line">
                                <span class="kv-label">Торгова точка:</span>
                                <span class="kv-value">{{ row.values.6 }}</span>
                            </p>

                            <p class="kv-line">
                                <span class="kv-value">{{ row.values.7 }}</span>
                            </p>
                        </div>
                    </section>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}