{% extends 'base.html' %}
{% block content %}
<div class="auth-box">
    <h2 style="color: var(--primary-dark)">Вхід</h2>
    {% if error %}
        <p style="color: #ff4d4d; background: #ffe6e6; padding: 10px; border-radius: 5px; text-align: center;">
            {{ error }}
        </p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Пошта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit" class="btn-main">Ввійти</button>
    </form>

    <div style="margin-top: 15px; text-align: center;">
        <a href="{% url 'register' %}" style="text-decoration: none;">
            <button class="btn-main btn-outline">Зареєструватись</button>
        </a>
    </div>
</div>
{% endblock %}