{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="catalog-page">
    <header class="page-header">
        <h1 class="visually-hidden">Каталог спецій</h1>
        {% if user.is_staff %}
            <a href="{% url 'spice_create' %}" class="admin-add-btn" aria-label="Додати спецію">+</a>
        {% endif %}
    </header>

    <section class="spice-grid">
        {% for row in rows %}
        <article class="spice-card"
                 {% if user.is_staff %}onclick="location.href='{% url 'spice_edit' row.id %}'"{% endif %}
                 role="button"
                 tabindex="0">

            <figure class="spice-image-container">
                <img src="{% static 'images/placeholder.jpg' %}" class="spice-img" alt="{{ row.values.1 }}">
            </figure>

            <div class="spice-content">
                <header class="spice-header">
                    <h3 class="spice-title">{{ row.values.1 }}</h3>
                </header>

                <p class="spice-meta"> {{ row.values.2 }} </p>
                
                <p class="spice-meta"> {{ row.values.3 }} </p>

                <footer class="spice-footer">
                    <p class="spice-price">{{ row.values.4 }} <span class="price-unit">грн / 100 гр</span></p>
                </footer>
            </div>

            {% if not user.is_staff%}
                <button class="fav-heart-btn {% if row.id in fav_ids %}active{% endif %}"
                        onclick="event.stopPropagation(); location.href='{% url 'add_del_fav' row.id %}'"
                        aria-label="Додати в обране">
                    ❤
                </button>
            {% endif %}
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}