{% extends 'base.html' %}
{% block content %}
    <main class="edit-container">
        <header class="form-header">
            <h2>{% if obj %}Редагування{% else %}Створення{% endif %} постачальника</h2>
        </header>

        <section class="form-section">
            <form class="edit-form" method="POST">
                {% csrf_token %}

                <fieldset class="form-fieldset">
                    <legend class="visually-hidden">Постачальник</legend>

                    <div class="form-group">
                        <label for="id_name">Назва мережі</label>
                        <input type="text" id="id_name" name="name" value="{{ obj.name|default:'' }}" required>
                    </div>

                    <div class="form-group">
                        <label for="id_address">Адреса</label>
                        <input type="text" id="id_address" name="address" value="{{ obj.address|default:'' }}">
                    </div>

                    <div class="form-group">
                        <label for="id_phone">Номер телефону</label>
                        <input type="text" id="id_phone" name="phone_number" value="{{ obj.phone_number|default:'' }}">
                    </div>
                </fieldset>

                {% if obj %}
                    <aside class="supplier-inventory">
                        <h3 class="section-title">Спеції від цього постачальника:</h3>

                        {% if obj %}
                            {% if spices %}
                                <ul class="inline-list">
                                    {% for s in spices %}
                                        <li class="inline-list__item">{{ s }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="muted">Немає прив’язаних спецій.</p>
                            {% endif %}
                        {% else %}
                            <p class="muted">Спочатку створіть постачальника, потім можна прив’язати спеції.</p>
                        {% endif %}
                    </aside>
                {% endif %}

                <footer class="form-actions">
                    <button type="submit" class="btn-main">Зберегти</button>
                </footer>
            </form>

            {% if obj %}
                <aside class="danger-zone">
                    <form action="{% url 'supplier_delete' obj.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn-delete">
                            Видалити
                        </button>
                    </form>
                </aside>
            {% endif %}

            <nav class="navigation-actions">
                <a href="{% url 'supplier_list' %}" class="btn-main btn-outline btn-block">Скасувати</a>
            </nav>
        </section>
    </main>
{% endblock %}