{% extends 'base.html' %}

{% block content %}
<main class="suppliers-page">
    <header class="page-header">
        <h1 class="visually-hidden">Наші постачальники</h1>
        {% if user.is_staff %}
            <a href="{% url 'supplier_create' %}" class="admin-add-btn" aria-label="Додати постачальника">+</a>
        {% endif %}
    </header>

    <section class="long-list">
        {% for row in rows %}
        <article class="long-card"
                 onclick="location.href='{% url 'supplier_update' row.id %}'"
                 role="button"
                 tabindex="0">
            <section class="card-details">
                <header class="supplier-title">
                    <h2>{{ row.values.1 }}</h2>
                </header>
                <div class="supplier-info">
                    <p class="supplier-address">{{ row.values.2 }}</p>
                    <p class="supplier-phone">{{ row.values.3 }}</p>
                </div>
            </section>
        </article>
        {% endfor %}
    </section>
</main>
{% endblock %}